.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
  z-index: 20;
  background-color: rgba(155, 145, 145, 0.272);
  backdrop-filter: blur(3px);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-70%);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;

  color: var(--secondary-color);
  background: var(--gradient);
  padding: 7%;
  border-radius: 14px;
  box-shadow: var(--box-shadow);
  z-index: 30;
  animation: slide-down 300ms ease-out forwards;
}

@keyframes slide-down {
  from {
    opacity: 0;
    transform: translate(-50%,-70%);
  }
  to {
    opacity: 1;
    transform:  translate(-50%, -50%);
  }
}
