.search-box {
  padding: .7em 1em;
  flex: 2;
  display: flex;
  min-width: 20vh;
  background-color: var(--secondary-color);
  border-radius: 2em;
  color: var(--primary-color);
}

.search-box input {
  width: 100%;
  border: none;
  outline: none;
  background: none;
  color: var(--primary-color);

}

.search-box button{
    border: none;
    outline: none;
    background:none;
    transition: all 200ms ease-in-out;
}

.search-box button:hover{
    transform: scale(1.1,1.1);
    
}

.search-icon {
  fill:var(--primary-color);
  margin: 0;
  font-size: 2rem;
}
